[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch-cu128"
url = "https://download.pytorch.org/whl/cu128"
verify_ssl = true

[packages]
numpy = "*"
opencv-python = "*"
pre-commit = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
matplotlib = "*"
scikit-learn = "*"
pandas = "*"
torcheval = "*"
torchmetrics = "*"
tqdm = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
