[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch-cu128"
url = "https://download.pytorch.org/whl/cu128"
verify_ssl = true

[packages]
numpy = "*"
pillow= "*"
opencv-python = "*"
pre-commit = "*"
torch = {index = "pytorch-cu128", version = "2.7.0+cu128", markers = "platform_system == 'Windows'"}
torchvision = {index = "pytorch-cu128", version = "0.22.0+cu128", markers = "platform_system == 'Windows'"}
torchaudio = {index = "pytorch-cu128", version = "2.7.0+cu128", markers = "platform_system == 'Windows'"}
pandas = "*"
torcheval = "*"
tqdm = "*"
requests = "*"
alive-progress = "*"
matplotlib = "*"
scikit-learn = "*"
torchmetrics = "*"
fastapi = "*"
python-multipart = "*"
streamlit = "*"
uvicorn = "*"
questionary = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.12"
