[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
pre-commit = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
matplotlib = "*"
torchmetrics = {extras = ["detection"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
